.list_item {
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgb(107, 98, 255, 0.4); /* 색상 코드 수정 */
  transition: border-bottom 0.2s ease-in-out; /* 트랜지션 추가 */
}
.list_item:hover {
  border-bottom: 2px solid rgba(107, 98, 255, 0.87); /* 보다 진한 색상으로 수정 */
}

.delete_btn {
  position: absolute;
  right: 10px;
  background-color: inherit;
  border: none;
  font-size: 17px;
}
.delete_btn:hover {
  cursor: pointer;
}

.update_btn {
  position: absolute;
  right: 35px;
  background-color: inherit;
  border: none;
  font-size: 17px;
}
.update_btn:hover {
  cursor: pointer;
}

.update_input {
  width: 90%;
  height: 40px;
  border: none;
  text-align: center;
}
.update_input:focus {
  outline: none;
}

.update_li {
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
