.list_item {
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: border 0.1s ease-in-out;
  margin-bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 30px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.list_item:hover {
  border: 2px solid rgba(107, 98, 255, 0.87); /* 보다 진한 색상으로 수정 */
  cursor: pointer;
}
.todoList_setting {
  display: flex;
  align-items: center;
}
.delete_btn {
  background-color: inherit;
  border: none;
  font-size: 17px;
  color: #6b62ff;
}
.delete_btn:hover {
  cursor: pointer;
}

.update_btn {
  background-color: inherit;
  border: none;
  font-size: 17px;
  color: #6b62ff;
}
.update_btn:hover {
  cursor: pointer;
}

.update_input {
  width: 90%;
  border: none;
  text-align: center;
}
.update_input:focus {
  outline: none;
}

.update_li {
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list_text.done {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: lightgray;
  text-decoration: line-through;
}
.done_btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
}
.done_icon {
  color: #6b62ff;
}
